.heading{
    text-align: center;
}

.about_content{
    padding-bottom: 15rem;
}

.card{
    background-color: #1e1844;
    border-color: aqua;
    width: 300px;
}

.card-title{
    color: antiquewhite;
    text-align: center;
}

.card-body{
    text-align: center;
}




